.map-component {
    background-color: #fafafa;
    border-radius: 30px;
    min-height: 65vh;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}